<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />

<title>Coachs</title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col">
				<a th:href="@{/coachs/add}" class="btn btn-primary"
					style="position: relative;">Ajouter un nouveau coach</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h1>Les coachs</h1>
				<table border="1" class="table">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Activités</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${lesCoachs.empty}">
							<td colspan="3">Pas des coachs</td>
						</tr>
						<tr th:each="coach : ${lesCoachs}">
							<td th:text="${coach.nom}"></td>
							<td th:text="${coach.prenom}"></td>
							<td>
								<ul th:if="${!coach.mesActivites.empty}">
									<li th:each="activite : ${coach.mesActivites}" th:text="${activite.titre}">8996</li>
								</ul>
							</td>
							<td><a href="#" class="btn btn-primary"
								style="position: relative;"
								th:href="@{/coachs/edit/{id} (id=${coach.id})}">Modifier</a> | <a
								th:href="@{/coachs/delete/{id} (id=${coach.id})}"
								class="btn btn-danger" style="position: relative;">Supprimer</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>