<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col col-lg-3">
				<img heigth="500" width="300"
					th:src="@{/images/coachs/{img} (img=${coach.photo})}">
			</div>

			<div class="col col-lg-9">
				<span style="font-weight: 1000">Nom & Prénom:</span>
				<p th:text="|${coach.nom} ${coach.prenom}|"></p>
				<span style="font-weight: 1000">Bio:</span>
				<p th:text="${coach.bio}"></p>
				<span style="font-weight: 1000">Activités:</span>
				<ul>
					<li th:each="act: ${coach.listActivites}" th:text="${act.titre}"></li>
				</ul>

			</div>

		</div>

	</div>

	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>